:root {
    --bright-green: #00fdc8;
    --dark-violet: #4C3B54;
    --mid-violet: #5C5D8D;
    --yellow: #ffd900;

    --grey: #d8dee4;
  }

body {
    color: var(--dark-violet);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* body {
    /* font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
 
} */

.header {
    /* background-color: #1E5631; */

    background-color: var(--bright-green);

    /* color: white; */
    padding: 20px;
    text-align: center;
}

.logo {
    max-width: 200px;
    border-radius: 2rem;
}

/* .header h1 {
    background-color: var(--yellow);
    border-radius: 0.2em;

} */

p.tagline, p.tagline strong {
    font-style: italic; 
    color: var(--mid-violet);
}

.content-area {
    max-width: 800px;
    margin: auto;
}

div.product-description {
    padding: 2rem;
    text-align: center;

}

.main {
    /* margin: 20px; */

}

div.background-mid-violet {
    padding: 0.5rem;
    background-color: var(--mid-violet);
}

div.background-dark-violet {
    background-color: var(--dark-violet);
}

div.background-grey {
    background-color: var(--grey);
}

p.big-text {
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    color: var(--yellow);
}

p.big-text strong {
    /* color: var(--bright-green); */
    background-color: var(--yellow);
    color: var(--dark-violet);
    padding: 0.2em 0.4em;

    border-radius: 0.2em;

    font-weight: 900;

}

/* .product-image {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
} */

.product-description {
    /* margin: 20px 0; */
}

span.product-name {
    color: var(--mid-violet);
    /* font-style: italic; */
}

.call-to-action button {
    display: block;



    /* width: 200px; */
    /* height: 50px; */

    padding: 0.5em 1em;
    margin: 1em auto;

    /* color: white; */
    /* border: none;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    cursor: pointer; */

    font-size: 1.5rem;
    font-weight: 600;

    border: none; 
    border-radius: 0.5em;

}

.call-to-action p {
    text-align: center;
}

.download button {
    background-color: var(--bright-green);
    color: var(--dark-violet);
}

.call-to-action button:hover {
    background-color: var(--yellow);
}

div.mascot-description {
    text-align: center;
    color: var(--yellow);
    font-size: 1.2rem;
}

div.product-description ul  {
    text-align: left;
    /* font-weight:; */
    margin: auto;
    max-width: 25rem;

}

div.product-description {
    max-width: 800px;
    margin: auto;
}

footer div.content-area {
    color: white;
    font-size: 0.75rem;

    padding: 2rem;
}

footer a {
    color: white;
}