:root {
    --bright-green: #00fdc8;
    --dark-violet: #4C3B54;
    --mid-violet: #5C5D8D;
    --yellow: #ECD444;
    --grey: #99A1A6;
  }

html, * {
    color: var(--dark-violet);
    font-family: 'Open Sans', sans-serif;

}

body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
 
}

.header {
    /* background-color: #1E5631; */

    background-color: var(--bright-green);

    color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    max-width: 200px;
}

.content-area {
    max-width: 800px;
    margin: auto;
}

.main {
    /* margin: 20px; */

}

div.background-1 {
    padding: 0.5rem;
    background-color: var(--mid-violet);
}

p.big-text {
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    color: var(--yellow);
}

/* .product-image {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
} */

.product-description {
    text-align: center;
    margin: 20px 0;
}

.call-to-action button {
    display: block;



    /* width: 200px; */
    /* height: 50px; */

    padding: 0.5em 1em;
    margin: 2em auto;

    /* color: white; */
    /* border: none;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    cursor: pointer; */

    font-size: 1.5rem;
    font-weight: 600;

    border: none; 
    border-radius: 0.5em;

}

.download button {
    background-color: var(--bright-green);
    color: var(--dark-violet);
}

.download-button:hover {
    background-color: #45a049;
}